.div-header {
    text-align: center;
    font-size: 24px;
    margin: 15px 0;
    font-weight: bold;
}

.row {
    flex-wrap: nowrap;
    width: 100%;
    padding: 2% 0;
}

.row img {
    /* height: 200px; */
    object-fit: cover;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.col-md:hover .image {
    opacity: 0.3;
    /* border: 0; */
}

.col-md .image {
    border: 2px solid;
}

.col-md:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.col-md:hover {
    cursor: pointer;
}

.main-div {
    margin: 50px 0 100px 0;
}