<div class="main-div">
    <p class="div-header">Product Categories offered</p>
    <div>
        <div class=" row ">
            <div class="col-md" (click)="ViewProductList('sports')">

                <img class="image " src="assets/img/sports.jpg " alt="sports ">
                <div class="middle ">
                    <div class="text ">Sports</div>
                </div>
            </div>
            <div class="col-md " (click)="ViewProductList('homeappliences')">
                <img class="image " src="assets/img/homeappliences.jpg " alt="homeappliences ">
                <div class="middle ">
                    <div class="text ">Home Appliences</div>
                </div>
            </div>
            <div class="col-md " (click)="ViewProductList('grocery')">
                <img class="image " src="assets/img/grocery.jpg " alt="grocery ">
                <div class="middle ">
                    <div class="text ">Groceries</div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class=" row ">
            <div class="col-md " (click)="ViewProductList('Mobiles')">

                <img class="image " src="assets/img/mobiles.jpg " alt="Mobiles ">
                <div class="middle ">
                    <div class="text ">Mobiles</div>
                </div>
            </div>
            <div class="col-md " (click)="ViewProductList('clothing')">
                <img class="image " src="assets/img/clothing.jpg " alt="clothing ">
                <div class="middle ">
                    <div class="text ">Clothings</div>
                </div>
            </div>
            <div class="image " class="col-md " (click)="ViewProductList('electronics')">
                <img class="image " src="assets/img/electronics.jpeg " alt="electronics ">
                <div class="middle ">
                    <div class="text ">Electronics</div>
                </div>
            </div>
        </div>
    </div>
</div>