<div class="product-div">

    <div class="row">
        <img class="product-image col-md" src="assets/img/ps5_1.png" alt="product image" />

        <div class="col-md product">
            <h1><strong>{{product_details.title}}</strong></h1>
            <div class="row">
                <p class="col-md">Stock <strong> {{product_details.quantity}}</strong></p>
                <p class="col-md">Selling Price <strong><span>&#8377;</span>{{product_details.sellingPrice}}</strong></p>
            </div>
            <div class="product-description">
                {{product_details.description}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="product-table col-md">
            <h3>
                Product Details
            </h3>
            <ul>
                <li>
                    <strong>Rated :</strong> Ages 16 and Over
                </li>
                <li>
                    <strong>Product Dimensions :</strong> 17.2 x 1.5 x 13.6 cm; 100 Grams
                </li>
                <li>
                    <strong>Release date  :</strong> 12 November 2020
                </li>
                <li>
                    <strong>Manufacturer  :</strong> Sony, SONY DADC EUROPE LIMITED ZWEIGNIEDERLASSUNG OSTERREICH SONYSTRASSE 20,A-5081,ANIF AUSTRIA - 1800-103-7799
                </li>
                <li>
                    <strong>Packer  :</strong> SONY DADC EUROPE LIMITED
                </li>
                <li>
                    <strong>Importer  :</strong> Sony India Pvt Ltd A-18, Mathura Rd, Mohan Cooperative Industrial Estate, Saidabad, New Delhi, Delhi 110044 - 011 6600 6157
                </li>
            </ul>
        </div>
        <div class="customer-review col-md">
            <div class="review-header">
                Customer Reviews
            </div>

            <div>
                <ul>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>