<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" routerLink=""><img class="logo" src="assets/img/logo.png" alt="logo">InveMang</a>
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="category" routerLinkActive="active">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="productList" routerLinkActive="active">Product List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="product" routerLinkActive="active">Products</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer class="footer">
        <div class="footer-container">
            <div class=" social-icons row">
                <span class="col-md copyright">Copyright &copy; 2021 All Rights Reserved by Compro</span>
                <span class="icons">
                <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </span>
            </div>
        </div>
    </footer>
</body>