table {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
    cursor: pointer;
}

table tbody tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

.div-header {
    text-align: center;
    font-size: 24px;
    margin: 15px 0;
    font-weight: bold;
}

.table-row:hover {
    background-color: green;
    color: white;
}

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}