<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <!-- <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div> -->
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>



<p class="div-header">
    {{category |titlecase }} Products
</p>

<div>
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Description
                </th>
                <th scope="col">
                    Quantity
                </th>
                <th scope="col">
                    Selling Price
                </th>
                <th scope="col">
                    Enabled
                </th>
            </tr>
        </thead>
        <div [class.hidden]="!hidden">
            <div class="loader-overlay">
                <div *ngIf="hidden" class="loader">
                </div>
            </div>
        </div>
        <tbody>
            <tr class="table-row" *ngFor="let e of lis;" [routerLink]="['/product', e.id]">
                <td></td>
                <td>{{e.title}}</td>
                <td>{{e.description | slice:0:20 }}</td>
                <td>{{e.quantity}}</td>
                <td>{{e.sellingPrice}}</td>
                <td>{{e.published}}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Item</button>
    </div>
</div>