<div class="product-div">

    <div class="row">
        <img class="product-image col-md" src="assets/img/ps5_1.png" alt="product image" />

        <div class="col-md product">
            <div class="row">
                <div class="col-md">
                    <h1><strong>PlayStation 5</strong></h1>
                </div>
                <div class="col-md text-right"><a class="edit-button" (click)="open(content)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a></div>
            </div>
            <div class="row">
                <p class="col-md">Stock <strong> 1000</strong></p>
                <p class="col-md">Selling Price <strong><span>&#8377;</span>50000</strong></p>
            </div>
            <div class="product-description">
                Experience lightning fast loading with an ultra-high speed SSD, deeper immersion with support for haptic feedback, adaptive triggers and 3D Audio, and an all-new generation of incredible PlayStation® games.
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="product-table col-md">
            <h3>
                Product Details
            </h3>
            <ul>
                <li>
                    <strong>Rated :</strong> Ages 16 and Over
                </li>
                <li>
                    <strong>Product Dimensions :</strong> 17.2 x 1.5 x 13.6 cm; 100 Grams
                </li>
                <li>
                    <strong>Release date  :</strong> 12 November 2020
                </li>
                <li>
                    <strong>Manufacturer  :</strong> Sony, SONY DADC EUROPE LIMITED ZWEIGNIEDERLASSUNG OSTERREICH SONYSTRASSE 20,A-5081,ANIF AUSTRIA - 1800-103-7799
                </li>
                <li>
                    <strong>Packer  :</strong> SONY DADC EUROPE LIMITED
                </li>
                <li>
                    <strong>Importer  :</strong> Sony India Pvt Ltd A-18, Mathura Rd, Mohan Cooperative Industrial Estate, Saidabad, New Delhi, Delhi 110044 - 011 6600 6157
                </li>
            </ul>
        </div>
        <div class="customer-review col-md">
            <div class="review-header">
                Customer Reviews
            </div>

            <div>
                <ul>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                    <li>
                        <div class="review">
                            Diwakar


                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <div>
                                Style is very attractive. Wait is only 1.5 kg so you can easily take it anywhere.
                            </div>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Adding Product Form</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div>
                    <label for="name">
                      Name of Product
                    </label>
                    <input class="form-control" id="name" type="text" placeholder="Enter product name">
                </div>

                <div>
                    <label for="name">
                      Product Quantity available
                    </label>
                    <input class="form-control" id="name" type="text" placeholder="Enter product quantity .eg; 1,12,430">
                </div>
                <div>
                    <label for="name">
                      Product selling price
                    </label>
                    <input class="form-control" id="name" type="text" placeholder="Enter product selling price in &#8377;">
                </div>

                <div class="form-group">
                    <label for="task-description">Description</label>
                    <textarea class="form-control" id="task-description" rows="3" style="resize: vertical;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                    Publish Product
                  </label>
                </div>
            </div>
            <button class="btn btn-success" type="submit">Add Product</button>

        </form>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>